@media screen and (min-width: 930px) {
    *{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 100px;
    }
    .index-wrap{
        width: 100%;
        height: 100%;
    }
    .mobile-header{
        display: none;
    }
    .index-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding-bottom: 0.2rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index:99999;
    }
    .header-left{
        color: rgb(125, 140, 153);
        font-size: 0.26rem;
        text-align: center;
        width: 35%;
        padding-top: 0.42rem;
    }
    .header-right{
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 0.14rem;
        width: 65%;
    }
    .header-right>a{
        width: 0.8rem;
        height: 0.63rem;
        /*box-sizing: border-box;*/
        /*padding: 30px 20px;*/
        text-align: center;
        line-height: 0.63rem;
        margin-right: 0.4rem;
        color: rgb(51, 51, 51);
        border: 0.02rem solid transparent;
    }
    .header-right>a>div:hover{
        border-bottom: 0.02rem solid #000;
        color: #7D8C99;
        cursor:pointer
    }
    .case-bg{
        width: 100%;
        height: 4.5rem;
        background: url("../image/info.png") no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .info-text{
        width: 100%;
        box-sizing: border-box;
        padding: 0 15%;
        margin-top: 0.3rem;

    }
    .text{
        font-size: 0.22rem;
        color: #333;
        font-weight: 400;
    }
    .text-timer{
        font-size: 0.14rem;
        color: #999;
        margin-top: 0.2rem;
    }
    .text-x{
        width: 100%;
        height: 0.01rem;
        background: #f2f2f2;
        margin-top: 0.2rem;
    }
    .info-content{
        font-size: 0.14rem;
        color: #666;
        margin-top: 0.3rem;
        border-bottom: 0.01rem dashed  #f2f2f2;
        box-sizing: border-box;
        padding-bottom: 0.6rem;
    }
    p{
        margin-top: 0.25rem;
    }
    .index-info{
        width: 100%;
    }
    .info-one{
        font-size: 0.14rem;
        color: #333;
        margin-top: 1.5rem;
    }
    .info-one>span{
        margin-left: 0.3rem;
        cursor:pointer;
    }
    .index-bottom{
        width: 100%;
        height: 0.66rem;
        background: #000;
        text-align: center;
        line-height: 0.66rem;
        font-size: 0.12rem;
        color: #999999;
        margin-top: 1rem;
    }
}
@media screen and (min-width: 380px) and (max-width: 930px) {
    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 100px;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .index-wrap {
        width: 100%;
        height: 100%;
    }

    .index-header {
        display: none;
    }

    .mobile-header {
        width: 100%;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    .mobile-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0.15rem 0.2rem;
    }

    .mul {
        width: 0.21rem;
        height: 0.2rem;
        background: url("../image/mulu.png") no-repeat;
        background-size: 100%;
    }

    .mul1 {
        width: 0.21rem;
        height: 0.2rem;
        background: url("../image/x.png") no-repeat;
        background-size: 100%;
        display: none;
    }

    .biaoti {
        width: 100%;
        text-align: center;
        color: rgb(125, 140, 153);
        font-size: 0.17rem;
    }

    .yincang {
        width: 100%;
        display: none;
        background: #fff;
    }

    .yincang > ul {
        width: 100%;
        box-sizing: border-box;
        padding: 0.2rem 5%;
        font-size: 0.14rem;
        list-style-type: none
    }

    .yincang > ul > a > li {
        box-sizing: border-box;
        padding: 3% 0;
        border-top: 0.01rem solid #f2f2f2;
        text-indent: 0.2rem;
        color: #666;
    }

    .yincang > ul > a > li:nth-last-child(1) {
        border-bottom: 0.01rem solid #f2f2f2;
    }

    .case-bg {
        /*width: 100%;*/
        /*height: 2.5rem;*/
        /*background: url("../image/case.png") no-repeat;*/
        /*background-size: cover;*/
        /*background-position: 50% 50%;*/
        display: none;
    }
    .info-text{
        width: 100%;
        box-sizing: border-box;
        padding: 0 3%;
        margin-top: 0.6rem;

    }
    .text{
        font-size: 0.22rem;
        color: #333;
        font-weight: 400;
    }
    .text-timer{
        font-size: 0.14rem;
        color: #999;
        margin-top: 0.2rem;
    }
    .text-x{
        /*width: 100%;*/
        /*height: 0.01rem;*/
        /*background: #f2f2f2;*/
        /*margin-top: 0.2rem;*/
        display: none;
    }
    .info-content{
        font-size: 0.14rem;
        color: #666;
        margin-top: 0.3rem;
        border-bottom: 0.01rem dashed  #f2f2f2;
        box-sizing: border-box;
        padding-bottom: 0.6rem;
    }
    p{
        margin-top: 0.25rem;
    }
    .index-info{
        width: 100%;
    }
    .info-one{
        font-size: 0.14rem;
        color: #333;
        margin-top: 1.5rem;
    }
    .info-one>span{
        margin-left: 0.3rem;
        cursor:pointer;
    }
    .index-bottom{
        width: 100%;
        height: 0.66rem;
        background: #000;
        text-align: center;
        line-height: 0.66rem;
        font-size: 0.12rem;
        color: #999999;
        margin-top: 0.8rem;
    }
}
@media screen and  (max-width: 380px) {
    * {
        margin: 0;
        padding: 0;
    }
    html {
        font-size: 100px;
    }
    body {
        width: 100%;
        height: 100%;
    }
    .index-wrap {
        width: 100%;
        height: 100%;
    }
    .index-header {
        display: none;
    }
    .mobile-header {
        width: 100%;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    .mobile-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0.15rem 0.2rem;
    }

    .mul {
        width: 0.21rem;
        height: 0.2rem;
        background: url("../image/mulu.png") no-repeat;
        background-size: 100%;
    }

    .mul1 {
        width: 0.21rem;
        height: 0.2rem;
        background: url("../image/x.png") no-repeat;
        background-size: 100%;
        display: none;
    }

    .biaoti {
        width: 100%;
        text-align: center;
        color: rgb(125, 140, 153);
        font-size: 0.17rem;
    }

    .yincang {
        width: 100%;
        display: none;
        background: #fff;
    }

    .yincang > ul {
        width: 100%;
        box-sizing: border-box;
        padding: 0.2rem 5%;
        font-size: 0.14rem;
        list-style-type: none
    }

    .yincang > ul > a > li {
        box-sizing: border-box;
        padding: 3% 0;
        border-top: 0.01rem solid #f2f2f2;
        text-indent: 0.2rem;
        color: #666;
    }

    .yincang > ul > a > li:nth-last-child(1) {
        border-bottom: 0.01rem solid #f2f2f2;
    }

    .case-bg {
        /*width: 100%;*/
        /*height: 2.5rem;*/
        /*background: url("../image/case.png") no-repeat;*/
        /*background-size: cover;*/
        /*background-position: 50% 50%;*/
        display: none;
    }
    .info-text{
        width: 100%;
        box-sizing: border-box;
        padding: 0 3%;
        margin-top: 0.6rem;
    }
    .text{
        font-size: 0.22rem;
        color: #333;
        font-weight: 400;
    }
    .text-timer{
        font-size: 0.14rem;
        color: #999;
        margin-top: 0.2rem;
    }
    .text-x{
        display: none;
    }
    .info-content{
        font-size: 0.14rem;
        color: #666;
        margin-top: 0.3rem;
        border-bottom: 0.01rem dashed  #f2f2f2;
        box-sizing: border-box;
        padding-bottom: 0.3rem;
    }
    p{
        margin-top: 0.25rem;
    }
    .index-info{
        width: 100%;
    }
    .info-one{
        font-size: 0.14rem;
        color: #333;
        margin-top: 0.3rem;
    }
    .info-one>span{
        margin-left: 0.3rem;
        cursor:pointer;
    }
    .index-bottom{
        width: 100%;
        height: 0.66rem;
        background: #000;
        text-align: center;
        line-height: 0.66rem;
        font-size: 0.12rem;
        color: #999999;
        margin-top: 0.3rem;
        /*position: fixed;*/
        /*bottom: 0;*/
    }
}